<h1>Dashboard</h1>
<ul id="dashboard_navigation">
  <li>
    <i class="fa fa-users"></i>
    <%= link_to "Customers", customers_path %>
  </li>
  <li>
    <i class="fa fa-truck"></i>
    <%= link_to "Orders", "#" %>
  </li>
  <li>
    <i class="fa fa-book"></i>
    <%= link_to "Menu Items", menu_items_path %>
  </li>
</ul>
