<h1>Customers</h1>

<ul id="customers">
  <%- @customers.each do |customer| -%>
    <li>
      <%= link_to edit_customer_path(customer) do -%>
        <%= customer.name %>
        <%= number_to_phone(customer.phone, area_code: true) %>
      <% end -%>
    </li>
  <% end -%>
</ul>
<%= link_to "Add New Customer", new_customer_path %>
