<h1>Customers</h1>

<ul id="customers">
  <%- @customers.each do |customer| -%>
    <li>
      <%= customer.name %>
      <%= number_to_phone(customer.phone, area_code: true) %>
    </li>
  <% end -%>
</ul>
<%= link_to "Add New Customer", new_customer_path %>
