$body-background: #E9E9E9;
$white: #FFF;
$brand-pale: #f2efe0;
$light-grey: mix($white, black, 96%);
$medium-grey: mix($white, black, 90%);
$dark-grey: mix(black, $white, 50%);

$primary-color: #DF574B;
$secondary-color: #14924C;
$blue: #2966AC;
