@import 'colors';

// Default Typography

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

.button {
  background-color: $light-grey;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid $medium-grey;
  color: $dark-grey;
  text-decoration: none;
  &:hover {
    background-color: $medium-grey;
  }
  &.right {
    float: right;
  }
}

// General Layout

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $body-background;
}

.content-wrapper {
  padding: 0 2em 2em 2em;
}

.content {
  max-width: 66em;
  margin: 0 auto;
}

header {
  padding: 1em 2em;
  background-color: $primary-color;
  border: 1px solid lighten($primary-color, 25%);
  border-width: 1px 0;
  * {
    color: $brand-pale;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  img {
    max-height: 4em;
  }
  h1 {
    display: inline-block;
    padding-top: 0.6em;
    vertical-align: top;
  }
  nav {
    float: right;
  }
}

section#content {
  padding: 2em;
  background-color: $white;
  box-shadow: 0 0 15px rgba(0,0,60,0.15);
  & > h1 {
    margin-top: 0;
    border-bottom: 2px solid $light-grey;
    padding-bottom: 0.5em;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  &:after {
    // Self-Clear Content
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// Flash Messages

.alert, .notice {
  margin-bottom: 1em;
  padding: 1em;
  font-weight: bold;
}

.alert {
  border: 2px solid $primary-color;
  background-color: mix($white, $primary-color, 35%);
}

.notice {
  border: 2px solid $secondary-color;
  background-color: mix($white, $secondary-color, 35%);
}

// Forms

input {
  display: block;
  margin-bottom: 1em;
}

.field_with_errors {
  display: inline-block;
}

.error {
  color: $primary-color;
}

.error + .field_with_errors {
  display: block;
}
